#ilovethis {
  border: 0px solid #ccc;
  float:left;
  width: 220px;
  margin: 10px 16px 2px 18px;
  padding: 0px;
}

#ilovethis h2 {
  font-size:18px;
}

#ilovethis h2 a {
  text-decoration: underline;
}


#ilovethis p {
  margin: 0px 16px 2px 9px;
  padding: 0px;
  text-align:center;
}


#ilovethis p a {
  font-size:12px;
  font-weight:bold;
  text-decoration: underline;
}

#ilovethis .ext  {
  width:90%;
  margin-left: 8px;
  text-align:center;
}

#ilovethis .ext .int {
  background: url(img/button-blue-left.png) no-repeat left top;
  clear:both;
  text-align:center;
}

#ilovethis .ext .int a {
  background: url(img/button-blue-right.png) no-repeat right top;
  display: block;
  padding:0.3em 1em 0 1em;
  height:27px;
  text-decoration:none;
  color:#333;
  font-weight:bold;
  font-size:13px;	
}
#ilovethis .ext .int a:hover {
  color:#000;
}


#loved_list, #loved_text {
  float:left;
}

#loved_list {
  width:40%;
}

#loved_text {
  width:58%;
  text-align:justify;
  font-size:90%;
}


#loved_list h3, #loved_text h3 {
  border-bottom: 1px solid #ccc;
}